apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  labels:
    app: auth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: andreistefanciprian/gomicropay-auth:latest@sha256:95ffd60b6139c1074628302f533dd68ba1fc5337bca6178e0fc58abec47678ac
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: auth-secret
            - configMapRef:
                name: auth-configmap
          ports:
            - containerPort: 9000