apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  labels:
    app: auth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: andreistefanciprian/gomicropay-auth:latest@sha256:c556e8203595c572639c9e89ab9ec946adb03d965d35970b2156515cf738f878
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: auth-secret
            - configMapRef:
                name: auth-configmap
          ports:
            - containerPort: 9000