apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  labels:
    app: auth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: andreistefanciprian/gomicropay-auth:latest@sha256:b34114b686248c43fec72b80d7ebe5b752a1d04cb609e59650ce6ea3910368d4
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: auth-secret
            - configMapRef:
                name: auth-configmap
          ports:
            - containerPort: 9000