apiVersion: apps/v1
kind: Deployment
metadata:
  name: ledger
  labels:
    app: ledger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ledger
  template:
    metadata:
      labels:
        app: ledger
    spec:
      containers:
        - name: ledger
          image: andreistefanciprian/gomicropay-ledger:latest@sha256:73e7debb6ee6c81d7847ff423cc6f9b9fafe19e353863be7dd0cdd5fdfe8f0ab
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: ledger-secret
            - configMapRef:
                name: ledger-configmap