apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: andreistefanciprian/gomicropay-gateway@sha256:3c78f8fb32aa20e468bf71bf0c5dd42a04fa44205739437ac5367e92a6d40a12
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: gateway-secret
            - configMapRef:
                name: gateway-configmap
          ports:
            - containerPort: 8080