apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments
  labels:
    app: payments
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
    spec:
      containers:
        - name: payments
          image: andreistefanciprian/gomicropay-payments:latest@sha256:83243a32316d524f56e0373e7d6073fa7d85cd5db2ced5973541c8cea7420457
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: payments-secret
            - configMapRef:
                name: payments-configmap
          ports:
            - containerPort: 7000