apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments
  labels:
    app: payments
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
    spec:
      containers:
        - name: payments
          image: andreistefanciprian/gomicropay-payments:latest@sha256:2304622524bb32013265cd6627be2a4ddc107812331ac68c8bf81f5ec58b6333
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: payments-secret
            - configMapRef:
                name: payments-configmap
          ports:
            - containerPort: 7000