apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments
  labels:
    app: payments
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
    spec:
      containers:
        - name: payments
          image: andreistefanciprian/gomicropay-payments:latest@sha256:5014307de1d1c590f83ac3b5ef1ab0529c2e6009cca170869b0bbc89aea6a19c
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: payments-secret
            - configMapRef:
                name: payments-configmap
          ports:
            - containerPort: 7000